{% extends "layout.html" %}
{% block headend %}
  <style>
    body {
      background-color: white;
    }
  </style>
{% endblock %}
{% block outer_body %}
  <div class="row">
    <div class="small-12 text-center columns">
      <h1 class="intro">
        <img src="{{static('logo.png')}}" alt="Badger face" class="logo" />
        <img src="{{static('logo_title.png')}}" alt="BadgeCub"  class="wordmark" />
        <small>Send someone a little badge love</small>
      </h1>
      <nav>
        <a href="/make" class="button">Get Started</a>
      </nav>
      <footer>
        <small>An <a href="http://openbadges.org">Open Badges</a> project<br/>
        made by <a href="https://twitter.com/stenington">@stenington</a> and <a href="https://twitter.com/varelidi">@varelidi</a></small>
      </footer>
    </div>
  </div>
{% endblock %}
