<!DOCTYPE html>
<html>
<head>
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BadgeCub</title>
  <link href="{{static('/css/badgecub.css')}}" type="text/css" rel="stylesheet">
  {% block headend %}
  {% endblock %}
  {% endblock %}
</head>
<body>
  <div class="container">
    {% block outer_body %}
    <div class="page">
      {% block body %}
      {% endblock %}
      <footer>
        <a href="/">
          <img src="{{static('/mini_logo.png')}}" alt="BadgeCub logo small">
          <small>An <strong>Open Badges</strong> project</small>
        </a>
      </footer>
    </div>
    {% endblock %}
  </div>
</body>
</html>
