<!DOCTYPE html>
<html>
<head>
  {% block head %}
  <meta charset="utf-8">
  <title>BadgeCub</title>
  <link href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/css/normalize.min.css" type="text/css" rel="stylesheet">
  <link href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/css/foundation.min.css" type="text/css" rel="stylesheet">
  <link href="/static/badgecub.css" type="text/css" rel="stylesheet">
  {% block headend %}
  {% endblock %}
  {% endblock %}
</head>
<body>
  <div class="page">
    {% block body %}
    {% endblock %}
    <footer>
      <img src="/static/mini_logo.png" alt="BadgeCub logo small">
      <small>An Open Badges project</small>
    </footer>
  </div>
</body>
</html>
