{% extends "layout.html" %}

{% block body %}
  <form action="/make" method="post" enctype="multipart/form-data">
    <div class="row">
      <div class="small-12 text-center columns">
        <h1>Make a badge for someone you love.</h1>
      </div>
    </div>
    {% for el in formFields %}
      {% include "form-element.html" %}
    {% endfor %}
    <div class="row">
      <div class="small-12 text-center columns">
        <button class="secondary" name="action" value="preview">Preview</button>
        <button type="submit" name="action" value="issue">Give</button>
      </div>
    </div>
  </form>
{% endblock %}
