{% extends "layout.html" %}
{% block body %}
  <div class="row">
    <div class="small-12 text-center columns">
      <h1>Your preview:</h1>
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-8 large-centered columns">
      <div class="panel radius">
        {% include "mail.html" %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 text-center columns">
      <form action="/" method="post" enctype="multipart/form-data">
        <input type="hidden" name="name" value="{{passthrough.name}}">
        <input type="hidden" name="desc" value="{{passthrough.description}}">
        <input type="hidden" name="recipient" value="{{passthrough.recipient}}">
        <input type="hidden" name="msg" value="{{passthrough.message}}">
        <input type="hidden" name="filePath" value="{{passthrough.filePath}}">
        <button type="submit" name="action" value="issue">Give</button>
        <a href="/" class="button secondary">Cancel</a>
      </form>
    </div>
  </div>
{% endblock %}
